* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    font-family: "Roboto", "Arial", sans-serif;
    color: white;
    overflow: hidden;
}

sup {
    color: grey;
    font-size: 1rem;
    padding-left: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mag{
    margin: 0px 10px;
}

.section-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    height: 7vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    
}

.menu {
    display: flex;
    margin: 18px 10px;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
    background-color: #0f0f0f;

}

.menu h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.menu img {
    width: 23px;
    margin-right: 25px;
    margin-left: 11px;
    border-radius: 30px;
}
.menu img:hover{
    background-color: #212121;
    cursor: pointer;
}

.text-danger {
    color: red;
    font-size: 24px;
    padding: 2px;
}

.search {
    display: flex;
    align-items: center;
}

.search-2 {
    padding: 15px 0px 15px 15px;
    border-radius: 40px 0px 0px 40px;
    display: flex;
    align-items: center;
    height: 2.2em;
    border: 1px solid #212121;
}
.search-2:hover{
    border: .1px solid #3ea6ff;
}
.search-2 input {
    background: transparent;
    border: none;
    color: white;
    width: 31vw;
    font-size: medium;
    outline: none;
}
.searchicon{
    background-color: #212121;
    margin-right: 0rem;
    padding: 7.5px;
    border: 1px solid #212121;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
}
.mic {
    background-color: #262626;
    margin-left: 15px;
    padding: 10px 12px;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
}

.obj-1 {
    font-size: 1.4rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-right: 2.5rem;
    cursor: pointer;
}
.obj-1 img{
    height: 3.7vh;
    border-radius: 100px;
}

/* landing-page  */

.landing-page {
    color: white;
    display: flex;
    
}
hr{
    margin: .8rem 1rem;
    border: 1px solid #262626;
}

/* writing-section */

.write-section{
    width: 14rem;
    cursor: pointer;
    height: auto;
    display: flex,block;
    margin-top: 4.5rem;
    flex-direction: column;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 90%;

}
.write-section::-webkit-scrollbar{
width: 15px;
}

.icon-home{
    font-size: 1rem;

}
.home{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#262626;
    display: flex;
    gap: 22px;
    font-size: 9.5px;
    align-items: center;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 9px;
}
.home h1{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
}
.value{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    gap: 23px;
    font-size: 9.5px;
    align-items: center;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 9px;
}
.value3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    gap: 23px;
    font-size: 9.5px;
    align-items: center;
    padding: 7px;
    margin: 0px 10px;
    border-radius: 9px;
    font-weight: 200;
}
.value3 img{
    filter: brightness(0) invert(1);
}
.value h1{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12.5px;
}
.icon1{
    height: 23px;
    width: 23px;
}
.value:hover{
    background-color:#262626;
}
.value-2:hover{
    background-color:#262626;
}
.value-2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    gap: 15px;
    font-size: 9.5px;
    align-items: center;
    padding: 5px;
    margin: 0px 10px;
    border-radius: 9px;
    white-space: nowrap;
    justify-content: space-between;

}
.subvalue-2{
    display: flex;
    align-items: center;
    gap: 15px;
}
.value-2 img{
    height: 3.5vh;
    border-radius: 100px;
}
.value h2{
font-size: 15px;
}
.value-2 h1{
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
}

.value-last{
    padding: 1em 1.5em;
    font-size: 13px;
    color: #ababab;
}
#para1,#para2{
    margin-bottom: 1.5em;
}
footer{
    color: gray;
    font-size: 11px;
}

/* content-section */

.contant-section{
    /*background-color: red; */
    position: absolute;
    top: 50px;
    /* margin: 4rem 0px 1rem 13.2rem; */
    height: fit-content;
    z-index: -1;
    left: 15%;
}
.contant-2{
    background-color: #0f0f0f;
    width: 86%;
    position: fixed;
    padding: .8rem 2.7rem  ;
    display: flex;
    align-items: center;
    gap: .7rem;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    white-space: nowrap;
    /* box-shadow: 0px 0px 10px #ccc; */
}

.contant-2::-webkit-scrollbar{
    width: 0px;
}

.arrows1{
    position: fixed;
    z-index: 1;
    background-color: #0f0f0f;
    height: 30px;
    align-items: center;
    display: flex;
    padding-right: 18px;
    left: 13.5em;

}
.arrows2{
    position: fixed;
    z-index: 1;
    background-color: #0f0f0f;
    height: 30px;
    align-items: center;
    display: flex;
    padding-left: 18px;
    right: 0px;
}
.arrows{
    box-shadow: 0px 2px 10px #0f0f0f;
}

.arrows img{
    filter: brightness(0) invert(1);
}


.items{
    background-color: #212121;
    padding: .5rem .7rem;
    border-radius: 5px;
    font-size: 11.5px;
    outline: none;
    font-weight: 600;
    /* white-space: nowrap; */
}

.items:hover{
    background-color: #414040;
}


/* Shorts Section */

.Shorts{
    height: fit-content;
    /* background-color: red; */
    width: fit-content;
    margin-bottom: 2em;

}

.short-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    /* background-color: green; */
    align-items: center;
}

.short1{
    display: flex;
    align-items: center;
    margin: .5em .8em;
    gap: .5em;
}

.short1 p{
    font-size: 1.2em;
    font-weight: 600;
}

.short1 img{
    filter: invert(19%) sepia(91%) saturate(7405%) hue-rotate(8deg) brightness(103%) contrast(124%);
}

.short-vedio{
    display: flex;
    height: fit-content;
    width: fit-content;
    /* background-color: yellow; */
    overflow: hidden;
    flex-wrap: nowrap;
    justify-content:space-between;
}

.short-write{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5em;
}

.vedio1{
    width: 15.4%;
    overflow: hidden;
    border-radius: 10px;
    height: fit-content;
    cursor: pointer;
    margin-bottom: 2em;
    overflow: hidden;   
}
.vedio1:hover{
    border-radius: 0px;
}

.shortts{
    overflow: hidden;
}
.short-img{
    height: 40vh;
    width: 190%;
    border-radius: 10px;
    transition: transform .5s;
    overflow: hidden;
}
.short-img:hover{
    transform: scale(1.1);
}

.short-last{
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-more{
    background-color: none;
    padding: .5em 8.5em;
    border: 1px solid grey;
    border-radius: 5em;
    cursor: pointer;
}





















/* vedios-section */

.Hero-section{
    display: flex;
    position: fixed;
    width: 100%;
    top: 7em;
    padding: 0px 1em 0px 1em;
    align-items: center;
    /* background-color: green; */
    gap: 1.5em;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 86%;
    z-index: 0;
}

.Hero-section::-webkit-scrollbar{
    height: 0px;
}
.vedios{
    overflow: hidden;
    margin-top: 1em;
    height: 35%;
}
.vedios img{
    width: 17em;
    border-radius: 20px;
    height: -webkit-fill-available;
    transition: transform .2s;
}
.thumbnail img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.thumbnail{
    overflow: hidden;
}
.tutorial p{
    font-size: 14px;
    padding: 0px .6em 0px 0px;
    font-weight: 700;
}

.tutorial img{
    font-size: 2px;
    border-radius: 20px;
}

.tutorial{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: .5em;
    cursor: pointer;
    font-style: normal;
    justify-content: space-around;
   
}

.last-part{
    margin: .5em 2em 0em 3em;
    font-size: small;
    color: #ababab;
}













